<div class="container" ng-controller="fileViewCtrl as vm">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div ng-if="vm.database == true">
                <label class="control-label">Database:</label>

                <div ng-repeat="item in vm.items">
                    <div class="clearfix">{{item.URL}}
                        <button class="btn btn-primary pull-right" ng-click='vm.viewRepository(item.URL)'>View</button>
                    </div>
                    <br>
                </div>
            </div>

            <div ng-if="vm.files">
                <div style="display: block">
                    <div class="legend-label"><label>Legend</label></div>
                    <div><span class="hot-label" >Hot</span></div>
                    <div><span class="cold-label">Cold</span></div>
                    <div class="color-legend"></div>
                </div>
                <br>
                <label class="control-label">File System:</label>

                <div tree-view="structure" tree-view-options="options"></div>
            </div>
        </div>
    </div>
</div>
