<div class="container" ng-controller="fileViewCtrl as vm">
    <div id="veil" ng-show="vm.loading"></div>
    <div class="row">
        <div ng-if='vm.database == false'><button class="btn btn-primary pull-right" ng-click='vm.clearView()'>Back</button></div>
        <div class="col-sm-6 col-sm-offset-3">
            <div ng-if="vm.database == true">
                <label class="control-label">Database:</label>
                <div ng-repeat="repo in vm.repos">
                    <div class="clearfix">{{repo.URL}}
                        <button class="btn btn-primary pull-right" ng-click='vm.viewRepository(repo.URL)'>View</button>
                    </div>
                    <br>
                </div>
            </div>

            <div ng-if="vm.files && vm.database == false">
                <div style="display: block">
                    <div class="legend-label"><label>Legend</label></div>
                    <div><span class="hot-label" >Hot</span></div>
                    <div><span class="cold-label">Cold</span></div>
                    <div class="color-legend"></div>
                </div>
                <br>
                <label class="control-label">File System:</label>
                <div id="loading" ng-show="vm.loading">
                    <img src = "/images/fireBallGif.gif">
                    Preheating...
                </div>
                <div tree-view="structure" tree-view-options="options" ></div>
                <div ng-if="vm.selectedFile" class="file-details">
                    <h1>{{vm.selectedFile.name}}</h1>
                    {{ vm.selectedFile.last_updated }}
                    <ul>
                        <li>{{ ((1 - vm.selectedFile.score) * 100).toFixed(1) }}% Likelihood of Containing Bugs</li>
                        <li>Last Touched By: {{ vm.selectedFile.last_touched_by }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
