<div class="container" ng-controller="dashboardCtrl as vm">
    <div id="veil1" ng-show="vm.loading"></div>
    <div class="row">
        <div id="loadingDashbaord" ng-show="vm.loading">
            <img src = "/images/fireball.gif">
            <br>{{vm.loadingMessage}}
        </div>
        <div ng-show="!vm.loading"class="col-sm-6 col-sm-offset-3">
            <div ng-if="vm.success">
                <p>Repository at <a href="{{vm.addedRepo}}" target="_blank">{{vm.addedRepo}}</a> is now being analyzed and monitored...</p>
            </div>
            <form name="addRepo">
                <div class="form-group">
                    <label class="control-label" for="repoUrl">Repository:</label>
                    <input  type="text"
                            ng-model="vm.repoUrl" required
                            pattern="^https?://.+\.git$"
                            id="repoUrl"
                            class="form-control"
                            placeholder="https://github.com/example/repository.git"/>
                </div>
                <button ng-disabled="addRepo.$invalid" ng-click ="vm.addRepository(vm.repoUrl)" class="btn btn-primary">Add Repository</button>
            </form>
            <label class="control-label" for="repoUrl">Database:</label>
            <div style="margin-bottom: 10px;" ng-repeat="repo in vm.repos">
                <li>{{repo.URL}}</li>
                <a href="/repositoryView" class="btn btn-primary">View</a>
                <button ng-click ="vm.scanRepo(repo.URL)" class="btn btn-primary">Rescore</button>
                <button ng-click ="vm.updateRepo(repo.URL)" class="btn btn-primary">Update</button>
                <button ng-click ="vm.exportData(repo.URL)" class="btn btn-primary">Export Data</button>
                <button ng-click ="vm.deleteRepo(repo.URL)" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->


