<!-- Page Content -->
<div class="container" ng-controller="dashboardCtrl">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div ng-if="success == true">
                <p>Repository at <a href="{{added_repo}}" target="_blank">{{added_repo}}</a> is now being analyzed and monitored...</p>
            </div>
            <form ng-submit="addRepository()">
            	<div class="form-group">
            		<label class="control-label" for="repoUrl">Repository:</label>
            		<input  type="text"
                            ng-model="repoUrl"
                            pattern="^https?://.+\.git$"
                            id="repoUrl" 
                            class="form-control" 
                            placeholder="https://github.com/example/repository.git" required /></label>
            	</div>
        		<button type="submit" class="btn btn-primary">Add Repository</button>
            </form>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->