<!-- Page Content -->
<div class="container" ng-controller="dataCtrl as vm">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div ng-if="vm.list == true">
                <label class="control-label" for="repoUrl">Database:</label>
                <div ng-repeat="repo in vm.repos">
                    <div class="clearfix">{{repo.URL}}
                        <br>
                        <button class="btn btn-primary" ng-click='vm.scoreRepo(repo.URL)'>Score</button>
                        <button class="btn btn-primary" ng-click='vm.scoreDiv(repo.URL)'>Sections</button>
                    </div>
                </div>
            </div>

            <div ng-if="vm.div == true">
                <label class="control-label" for="repoUrl">Database:</label>
                <div ng-repeat="file in vm.repo.Files">
                    <li>{{file.FullPath}}</li>
                    <div ng-repeat="score in file.Scores">
                        <li>{{score.Time}} {{score.Score}} </li>
                    </div>
                </div>
            </div>

            <div ng-if="vm.results == true">
                <label class="control-label" for="repoUrl">Database:</label>
                <div ng-repeat="file in vm.repo.Files">
                    <li>{{file.FullPath}}  {{file.Score}}</li>
                    <div ng-repeat="commit in file.Commits">
                        <li>{{commit.Time}}  {{commit.TimeMs}}  {{commit.Score}}  {{commit.BugFix}}</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->