<!-- Page Content -->
<div class="container" ng-controller="adminCtrl as vm">
    <div id="veil" ng-show="vm.loading"></div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3" ng-show="vm.loading==false">
            <label class="control-label" >Repos:</label>
            <div ng-repeat="repo in vm.repos">
                    <div class="clearfix">{{repo.URL}}<br>
                        <button class="btn btn-primary" ng-click='vm.listFiles(repo.URL)'>View Files</button>
                        <button class="btn btn-primary" ng-click='vm.clearFiles(repo.URL)'>Clear Files</button>
                        <button class="btn btn-primary" ng-click='vm.clearRepo(repo.URL)'>Delete Repo</button>
                    </div>
                    <br>
                    Last Commit: {{repo.LastModified}}<br />
                    First Commit: {{repo.FirstModified}}
                </div>

            <label class="control-label" >Files:</label>
            <div ng-repeat="file in vm.files">
                <li>{{file.FullPath}}</li>
                <div ng-repeat="commit in file.Commits">
                    <li>{{commit.Time}} - {{commit.Hash}} - {{commit.BugFix}}</li>
                </div>
            </div>
        </div>
        <div id="loading" ng-show="vm.loading">
            <img src = "/images/fireBall.gif">
            Loading...
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
