#IDE PROJECT FILES#
.idea/
npm-debug.log

#Generated Dependencies#
bower_components/
node_modules


#Concat Files#
internal.js
third-party.js
styles.css
third-party.css

#git parsing dir

tempProjects
